:root {
  --color-orange: #FF9900;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 20px;
}
body {
  font-family: 'Montserrat', sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1800px;
}
.btn-reset {
  background: transparent;
  border: none;
}
.btn {
  width: 280px;
  height: 78px;
  border: none;
  font-size: 23px;
  font-weight: bold;
  line-height: 1;
  color: white;
  background-color: var(--color-orange);
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
}
.btn:hover,
.btn:focus {
  cursor: pointer;
  outline: none;
  background-color: rgba(255, 153, 0, 0.7);
}
.btn:active {
  background-color: #E1670E;
}
.btn-o {
  height: 60px;
  padding: 20px 35px;
  border: 3px solid #FF9900;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  -webkit-transition: background-color .3s ease, border-color .3s ease;
  -o-transition: background-color .3s ease, border-color .3s ease;
  transition: background-color .3s ease, border-color .3s ease;;
}
.btn-o:hover,
.btn-o:focus {
  cursor: pointer;
  outline: none;
  background-color: #F7B045;
  border-color: #F7B045;
}
.btn-o:active {
  background-color: #E1670E;
  border-color: #E1670E;
}
.section-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  color: #333333;
}

.nav__link:focus,
.header__search:focus,
.socials__link:focus,
.steps__number:focus,
.nav-column__link:focus  {
  outline: 2px solid #FF9900;
}

/*Header*/
.header {
  height: 100px;
  background-color: white;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.header__right {
  margin-left: auto;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.nav__link {
  color: #333333;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom .3s ease;
  -o-transition: border-bottom .3s ease;
  transition: border-bottom .3s ease;
}
.nav__link:hover {
  border-bottom: 2px solid #FF9900;
}
.nav__link:active {
  border-bottom: 2px solid #E1670E;
  color: #E1670E;
}
.nav__item:not(:last-child) {
  margin-right: 85px;
}
.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  margin-left: 85px;
  cursor: pointer;
}
.header__search-icon {
  -webkit-transition: fill .3s ease, stroke .3s ease;
  -o-transition: fill .3s ease, stroke .3s ease;
  transition: fill .3s ease, stroke .3s ease;
}
.header__search:hover .header__search-icon rect {
  fill: #FF9900;
}
.header__search:hover .header__search-icon path {
  stroke: #FF9900;
}
.form-search {
  position: absolute;
  right: 0;
  z-index: 1001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0;
  height: 0;
  overflow: hidden;
  padding-left: 32px;
  padding-right: 18px;
  border-radius: 16px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transition: width .5s linear;
  -o-transition: width .5s linear;
  transition: width .5s linear;
}
.form-search.open {
  width: 539px;
  height: 60px;
  -webkit-transition: width .5s linear;
  -o-transition: width .5s linear;
  transition: width .5s linear;
}
.form-search__input {
  width: 412px;
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #DCDCDC;
}
.form-search__input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #ADADAD;
}
.form-search__input::-moz-placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #ADADAD;
}
.form-search__input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #ADADAD;
}
.form-search__input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #ADADAD;
}
.form-search__input::placeholder {
  font-weight: 500;
  font-size: 18px;
  color: #ADADAD;
}
.form-search__btn {
  margin-left: 14px;
}
.form-search__btn .header__search-icon rect {
  fill: #FF9900;
}
.form-search__btn .header__search-icon path {
  stroke: #FF9900;
}
.form-search__close {
  cursor: pointer;
  margin-left: 20px;
}
.form-search__close-icon {
  width: 24px;
  height: 24px;
}
.burger {
  position: relative;
  z-index: 1000;
  display: none;
  width: 40px;
  height: 33px;
  padding: 5px;
}
.burger:focus {
  outline: 2px solid #FF9900;;
}
.burger__line {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #333333;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
}
.burger__line:before,
.burger__line:after {
  content: '';
  position: absolute;
  left: 5px;
  display: block;
  width: 30px;
  height: inherit;
  background-color: #333333;
  -webkit-transition: top .2s .2s, -webkit-transform .2s;
  transition: top .2s .2s, -webkit-transform .2s;
  -o-transition: transform .2s, top .2s .2s;
  transition: transform .2s, top .2s .2s;
  transition: transform .2s, top .2s .2s, -webkit-transform .2s;
}
.burger__line:before {
  top: 5px;
}
.burger__line:after {
  bottom: 5px;
}
.burger.is-active .burger__line {
  background-color: transparent;
}
.burger.is-active .burger__line:before {
  top: 15px;
  -webkit-transform: rotateZ(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotateZ(-45deg);
  -webkit-transition: top 0.3s, -webkit-transform .2s .2s;
  transition: top 0.3s, -webkit-transform .2s .2s;
  -o-transition: top 0.3s, transform .2s .2s;
  transition: top 0.3s, transform .2s .2s;
  transition: top 0.3s, transform .2s .2s, -webkit-transform .2s .2s;
}
.burger.is-active .burger__line:after {
  top: 15px;
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
  -webkit-transition: top 0.3s, -webkit-transform .2s .2s;
  transition: top 0.3s, -webkit-transform .2s .2s;
  -o-transition: top 0.3s, transform .2s .2s;
  transition: top 0.3s, transform .2s .2s;
  transition: top 0.3s, transform .2s .2s, -webkit-transform .2s .2s;
}

/*Hero*/
.section-hero__content {
  position: relative;
  min-height: 620px;
  padding: 100px 80px;
}
.swiper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.banner__slide {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner__slide--1 {
  background-image: url(../img/banner-bg.jpg);
}
.banner__slide--2 {
  background-image: url(../img/banner-bg-slide-2.jpg);
}
.banner__slide--3 {
  background-image: url(../img/banner-bg-slide-3.jpg);
}
.swiper-pagination {
  bottom: 30px!important;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.4);
}
.swiper-pagination-bullet-active {
  background-color: #fff;
}
.text__slide {
  position: relative;
  z-index: 2;
}
.section-hero__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 70px;
  font-weight: 800;
  line-height: 85px;
  color: white;
}
.section-hero__descr {
  max-width: 790px;
  margin-bottom: 90px;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  color: white;
}

/*About*/
.section-about {
  padding-top: 100px;
}
.section-about__info {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}
.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantages__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  background: url(../img/advantages-bg.jpg) center center no-repeat;
  background-size: cover;
}
.advantages__block-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
}
.advantages__text-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  max-width: 454px;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  color: white;
}
.advantages__right {
  margin-bottom: -32px;
}
.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 64px 0px 64px 60px;
  border: 1px solid #CACACA;
}
.advantages__item {
  margin-bottom: 32px;
}
.advantages__item-icon {
  width: 190px;
  height: 165px;
  margin-right: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.advantages__icon-cube {
  background-image: url(../img/cube.svg);
}
.advantages__icon-gear {
  background-image: url(../img/gear.svg);
}
.advantages__item-title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  color: #333333;
}
.advantages__item-desc {
  max-width: 450px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

/*Work*/
.section-work {
  padding-top: 100px;
}
.section-work__title {
  margin-bottom: 50px;
}
.steps__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 49px;
  font-size: 18px;
  line-height: 1;
  color: #333333;
}
.steps__number {
  font-size: 18px;
  line-height: 22px;
  color: #333;
  cursor: pointer;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}
.steps__number_active {
  color: #E1670E;
}
.steps__number:not(:last-child) {
  margin-right: 85px;
}
.steps__number:hover {
  color: #FF9900;
}
.steps__number:active {
  color: #E1670E;
}
.steps__content {
  display: none;
}
.steps__content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.steps__left {
  max-width: 758px;
}
.steps__title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  color: #333333;
}
.steps__desc {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}
.steps__img {
  height: 100%;
  margin-top: 10px;
}
.steps__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.steps__btn {
  width: auto;
  height: auto;
  margin-right: 28px;
  padding: 22px 38px;
  font-size: 16px;
}
.steps__btn-o {
  font-weight: normal;
  border: 1px solid #333333;
  color: #333333;
  -webkit-transition-property: color, background-color, border-color;
  -o-transition-property: color, background-color, border-color;
  transition-property: color, background-color, border-color;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}
.steps__btn-o:hover,
.steps__btn-o:focus {
  color: white;
  background-color: #666666;
  border-color: #666666;
}
.steps__btn-o:active {
  background-color: #000;
  border-color: #000;
}

/*FAQ*/
.section-faq {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-faq__title {
  margin-bottom: 43px;
}
.section-faq__content {
  border-bottom: 1px solid #CACACA;
}
.ask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  margin-bottom: -1px;
  padding-bottom: 28px;
  cursor: pointer;
  border-top: 1px solid #CACACA;
  -webkit-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

.ask:hover,
.ask:focus {
  outline: none;
  border-color: #FF9900;
}
.ask:hover + .section-faq__item-content + .ask,
.ask:focus + .section-faq__item-content + .ask {
  border-color: #FF9900;
}
.section-faq__content.border-color {
  border-color: #FF9900;
}
.ask:hover .ask__title,
.ask:focus .ask__title {
  color: #FF9900;
}
.ask:hover .ask__plus,
.ask:focus .ask__plus {
  background-color: #FF9900;
}
.ask:hover .ask__plus-icon path,
.ask:focus .ask__plus-icon path {
  fill: white;
}
.ask__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  color: #333333;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}
.ask__plus {
  display: block;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  background-color: #ECECEC;
  -webkit-transition: background-color .3s ease, -webkit-transform .3s ease;
  transition: background-color .3s ease, -webkit-transform .3s ease;
  -o-transition: background-color .3s ease, transform .3s ease;
  transition: background-color .3s ease, transform .3s ease;
  transition: background-color .3s ease, transform .3s ease, -webkit-transform .3s ease;;
}
.ask__plus-icon path {
  width: 31px;
  height: 31px;
  -webkit-transition: fill .3s ease;
  -o-transition: fill .3s ease;
  transition: fill .3s ease;
}
.section-faq__item-content {
  height: auto;
  border-bottom: 1px solid transparent;
}
.section-faq__item-info {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}
.ask-active {
  border-bottom: none;
}
.ask-active .ask__plus {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*Footer*/
.footer {
  padding: 50px 0px;
  background-color: #222222;
}
.footer__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
}
.footer__nav {
  margin-bottom: 87px;
}
.nav-column__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  color: #CACACA;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}
.nav-column__link:hover {
  color: #FF9900;
}
.nav-column__link:active {
  color: #E1670E;
}
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials__link {
  display: block;
  width: 60px;
  height: 60px;
  -webkit-transition: fill .3s ease;
  -o-transition: fill .3s ease;
  transition: fill .3s ease;
}
.socials__link:not(:last-child) {
  margin-right: 21px;
}
.socials__link:hover .socials__icon path {
  fill: #FF9900;
}
.socials__link:active .socials__icon path {
  fill: #E1670E;
}
.socials__icon {
  max-width: 100%;
  height: auto;
}
.footer__title {
  margin-bottom: 25px;
  color: #CACACA;
}
.form {
  width: 100%;
  max-width: 570px;
}
.form__input,
.form__textarea {
  display: block;
  width: 100%;
  padding: 14px 24px;
  font-size: 16px;
  line-height: 32px;
  color: white;
  border: none;
  background-color: #414141;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
}
.form__input {
  margin-bottom: 25px;
}
.form__input:hover,
.form__input:focus,
.form__textarea:hover,
.form__textarea:focus,
.form__input:active,
.form__textarea:active {
  outline: none;
  background-color: #666666;
}
.form__textarea {
  margin-bottom: 32px;
  height: 150px;
}
.form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
  color: #CACACA;
}
.form__input::-moz-placeholder, .form__textarea::-moz-placeholder {
  color: #CACACA;
}
.form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
  color: #CACACA;
}
.form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
  color: #CACACA;
}
.form__input::placeholder,
.form__textarea::placeholder {
  color: #CACACA;
}
.form__btn {
  width: 269px;
  height: 58px;
  font-size: 16px;
}
.form__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form__checkbox {
  display: none;
}
.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 1;
  color: #CACACA;
}
.form__label:before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  border: 1px solid #CACACA;
}
.form__checkbox:checked + .form__label:before {
  background: url(../img/check.svg) center center no-repeat;
  background-size: contain;
}
.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer__info {
  max-width: 363px;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

@media (max-width: 1400px) {
  .form {
    margin-left: auto;
  }
  .footer__right {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .burger {
    display: block;
  }
  .nav__list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    width: 420px;
    max-width: 100%;
    padding: 50px;
    padding-top: 100px;
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateX(-101%);
        -ms-transform: translateX(-101%);
            transform: translateX(-101%);
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }
  .nav__list.is-active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .nav__item:not(:last-child) {
    margin-bottom: 15px;
  }
  .header__right {
    margin-left: 0;
  }
  .header__search {
    margin-left: 0;
  }

  .advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages__left {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin-right: 0;
    margin-bottom: 32px;
    height: 640px;
  }

  .form__btn {
    width: 45%;
  }
}

@media (max-width: 1024px) {
  .header__logo {
    width: 150px;
  }
  .section-hero__content {
    min-height: auto;
    padding: 160px 77px;
  }
  .banner__slide--1 {
    background-image: url(../img/banner-bg@1024.jpg);
  }
  .section-hero__title {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }
  .section-hero__descr {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
  }

  .section-about {
    padding-top: 80px;
  }
  .section-about__title {
    margin-bottom: 11px;
  }
  .section-about__info {
    margin-bottom: 60px;
  }

  .advantages__item {
    padding-left: 77px;
  }

  .section-work {
    padding-top: 80px;
  }
  .steps__desc {
    margin-bottom: 25px;
  }

  .section-faq {
    padding-top: 81px;
    padding-bottom: 80px;
  }
  .section-faq__title {
    margin-bottom: 32px;
  }
  .ask__title {
    font-size: 20px;
    max-width: 756px;
  }

  .footer__logo {
    width: 224px;
  }
  .nav-column__link {
    font-size: 18px;
  }
  .footer__left {
    margin-right: 0;
  }
  .form {
    max-width: 541px;
  }
}

@media (max-width: 991px) {
  .header {
    height: 69px;
  }

  .advantages__left {
    height: 650px;
  }
  .advantages__text-left {
    max-width: 366px;
  }
  .advantages__block-bottom {
    padding: 34px 40px;
  }

  .section-hero__content {
    padding: 160px 40px;
  }
  .section-hero__title {
    font-size: 50px;
    line-height: 61px;
  }
  .section-hero__descr {
    font-size: 18px;
    line-height: 22px;
  }

  .advantages__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 35px 42px 32px 40px;
  }
  .advantages__item-icon {
    width: 114px;
    height: 99px;
    margin-right: 16px;
  }

  .steps__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .steps__img {
    height: 284px;
    margin-bottom: 38px;
  }

  .ask__title {
    max-width: 570px;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__nav {
    display: none;
  }
  .form {
    margin-left: 0;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .steps__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
  }

  .footer__logo {
    margin-bottom: 13px;
  }
  .socials__link:not(:last-child) {
    margin-right: 25px;
  }
  .form__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .btn {
    width: 162px;
    height: 40px;
    font-size: 12px;
  }
  .btn-o {
    width: 162px;
    height: 40px;
    padding: 0;
    font-size: 12px;
    line-height: 1;
    color: #FF9900;
  }
  .header__logo {
    width: 110px;
  }
  .form-search.open {
    max-width: 100%;
  }
  .form-search__input {
    font-size: 14px;
    font-weight: normal;
    max-width: 82%;
  }
  .form-search__input::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: normal;
  }
  .form-search__input::-moz-placeholder {
    font-size: 14px;
    font-weight: normal;
  }
  .form-search__input:-ms-input-placeholder {
    font-size: 14px;
    font-weight: normal;
  }
  .form-search__input::-ms-input-placeholder {
    font-size: 14px;
    font-weight: normal;
  }
  .form-search__input::placeholder {
    font-size: 14px;
    font-weight: normal;
  }
  .form-search__btn,
  .form-search__close {
    margin-left: 10px;
  }

  .section-hero__content {
    padding: 60px 22px;
  }
  .text__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-hero__title {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  .section-hero__descr {
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }
  .swiper-pagination {
    bottom: 15px!important;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .section-about {
    padding-top: 60px;
  }
  .section-about__title {
    margin-bottom: 22px;
  }

  .section-title {
    font-size: 24px;
    line-height: 29px;
  }
  .section-about__info {
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 28px;
  }
  .advantages__left {
    margin-bottom: 23px;
    padding-top: calc(100vw - 30px - 90px + 8px);
    height: auto;
    background-position: top center;
    background-size: 100% calc(100vw - 30px - 90px);
  }
  .advantages__block-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: transparent;
    padding: 0;
  }
  .advantages__text-left {
    margin-bottom: 12px;
    max-width: 100%;
    font-size: 14px;
    line-height: 28px;
    font-weight: normal;
    color: #333333;
  }
  .advantages__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
    border: none;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 26px;
  }
  .advantages__item-icon {
    margin-bottom: 12px;
    width: 72px;
    height: 57px;
  }
  .advantages__item-title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
  }
  .advantages__item-desc {
    max-width: 100%;
    font-size: 14px;
    line-height: 28px;
  }

  .section-work {
    padding-top: 60px;
  }
  .section-work__title {
    margin-bottom: 20px;
  }
  .steps__number {
    font-size: 14px;
    line-height: 17px;
  }
  .steps__number:not(:last-child) {
    margin-right: 0;
  }
  .steps__top {
    margin-bottom: 7px;
  }
  .steps__img {
    height: calc(100vw - 30px - 130px);
    margin-bottom: 16px;
  }
  .steps__title {
    font-size: 18px;
    font-weight: 500;
  }
  .steps__desc {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 28px;
  }
  .steps__btn {
    padding: 0;
    margin-right: 10px;
  }
  .steps__btn-o {
    width: 41%;
    max-width: 162px;
    color: #333333;
  }

  .section-faq {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section-faq__title {
    margin-bottom: 16px;
  }
  .ask__title {
    max-width: 84%;;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
  }
  .section-faq__item-info {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 26px;
  }
  .ask__plus {
    width: 30px;
    height: 30px;
    padding: 6px;
  }
  .ask__plus-icon {
    width: 18.6px;
    height: 18.6px;
  }

  .footer {
    padding: 32px 0;
  }
  .footer__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form__input, .form__textarea {
    padding: 13px 20px;
    font-size: 14px;
    line-height: 32px;
  }
  .footer__logo {
    width: 131px;
    margin-left: auto;
    margin-right: auto;
  }
  .socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .socials__link {
    width: 40px;
    height: 40px;
  }
  .form__btn {
    margin-left: auto;
    margin-right: auto;
  }
  .form__label {
    margin-left: auto;
    margin-right: auto;
  }

}

@media (max-width: 320px) {
  .steps__btn {
    width: 53%;
    max-width: 162px;
  }

  .footer__title {
    margin-bottom: 22px;
  }
  .form {
    margin-bottom: 11px;
  }
  .form__input {
    margin-bottom: 27px;
  }
  .form__textarea {
    margin-bottom: 25px;
  }
  .form__bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #595959;
  }
  .form__btn {
    width: 180px;
    margin-bottom: 11px;
  }
  .socials__link:not(:last-child) {
    margin-right: 16px;
  }
}
